# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized,

Objectives:
* List of some Data science libraries
* List of some Data science languages
* Examples of arithmetic expression
* Markdown using in jupyter notebook

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

##### Some of the commonly used libraries used by Data Scientists include:
- Panda
- Numpy
- Scykit learn


| Data Science Tools |
| -------------|
| RStudio |
| Jupyter notebook |
| VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
#### MAIGA Hadeye